.getlife-app {
	margin-bottom: 24px;
}

.getlife-app__input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 24px;
}

.getlife-app__input-label {
	margin-right: 24px;
}